.menu-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
  
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    margin: auto;
    
}
  
.carrinho {
    background: none;
    border: none;
    cursor: pointer;
    width: 2px; 
    height: 2px; 
    padding: 40; 
    font-size: 1px; 
    transform: scale(0.4);
    align-items
}
  
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
    flex-direction: row-reverse;
}
  
.menu-item img {
    width: 105px;
    height: 80px;
    border-radius: 12px;
    margin-left: 15px; 
    cursor: pointer;
}
  
.item-details {
    flex: 1;
}
  
.item-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}
  
.item-details p {
    font-size: 14px;
    color:#706E6E;
}
  
.item-details span {
    font-size: 16px;
    font-weight: bold;
}
.carrinho header {
    display: ;         
    align-items: end;   
    justify-content: end;
    height: 100px;
}
